/*<style type="text/css">
*/
    button {
            display: block;
            margin: 5px 5px 5px 5px;
            width: 200px;
            height: 45px;
            font-size: 24pt;
            font-weight: bold;
            color: blue;
    }

    #mailSubj{
            font-size: 12pt;
            width: 500px;
    }

    #gpio4.LOW {
            background-color: Black;
    }
    
    #gpio4.HIGH {
            background-color: Red;
    }
    #gpio10.LOW {
            background-color: Black;
    }
    
    #gpio10.HIGH {
            background-color: Yellow;
    }
    #gpio17.HIGH {
            background-color: Red;
    }
    #gpio9.HIGH {
            background-color: Green;
    }
    #gpio22.HIGH {
            background-color: Yellow;
    }

/*    p{
        padding: 50px;
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        background: #f2f2f2;
    }
*/

/*</style>
*/